---
import { db, Tourdate, desc, gte, lt } from "astro:db";
import Layout from "../layouts/Layout.astro";
import TourdatesTable from "../components/TourdatesTable.astro";

const tourdates = await db
  .select()
  .from(Tourdate)
  .where(lt(Tourdate.date, new Date()))
  .orderBy(desc(Tourdate.date));

const tourdatesUpcoming = await db
  .select()
  .from(Tourdate)
  .where(gte(Tourdate.date, new Date()))
  .orderBy(desc(Tourdate.date));
const hasUpcoming = tourdatesUpcoming && tourdatesUpcoming.length > 0;
---

<Layout title="Tourdates | Pipas">
  <main>
    <h2 class="pb-2 mt-2 mb-3 text-xl border-b border-emerald-300">
      Tour Dates
    </h2>

    <h3 class="mt-2">The Future</h3>

    {hasUpcoming && <TourdatesTable tourdates={tourdatesUpcoming} />}
    {!hasUpcoming && <p class="text-gray-400">...is hazy.</p>}

    <h3 class="mt-2">The Past</h3>

    <TourdatesTable tourdates={tourdates} />
  </main>
</Layout>
